{% extends 'inventory/base.html' %}
{% load humanize %}

{% block content %}
<!--Cards-->
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-10 col-md-8 col-lg-9 ml-auto">
                <div class="row pt-md-5 mt-md- 3 mb-5">
                    <div class="col-xl-3 col-sm-6 p-2">
                        <div class="card card-common">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <i class="fas fa-shopping-cart fa-3x text-warning"></i>
                                    <div class="text-right text-secondary">
                                        <h5>Sales</h5>
                                        <h3>${{total_sales.amount__sum|floatformat:2|intcomma}}</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer text-secondary">
                                <i class="fas fa-sync mr-3"></i>
                                <span>Updated Now</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3  col-sm-6 p-2">
                        <div class="card card-common">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <i class="fas fa-donate fa-3x text-success"></i>
                                    <div class="text-right text-secondary">
                                        <h5>Contributions</h5>
                                        <h3>${{total_contribution.amount__sum|floatformat:2|intcomma}}</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer text-secondary">
                                <i class="fas fa-sync mr-3"></i>
                                <span>Updated Now</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3  col-sm-6 p-2">
                        <div class="card card-common">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <i class="fas fa-users fa-3x text-info"></i>
                                    <div class="text-right text-secondary">
                                        <h5>Users</h5>
                                        <h3>{{user_count}}</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer text-secondary">
                                <i class="fas fa-sync mr-3"></i>
                                <span>Updated Now</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3  col-sm-6 p-2">
                        <div class="card card-common">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <i class="fas fa-chart-line fa-3x text-danger"></i>
                                    <div class="text-right text-secondary">
                                        <h5>Webscore</h5>
                                        <h3><sup>90</sup>&frasl;<sub>100</sub></h3>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer text-secondary">
                                <i class="fas fa-sync mr-3"></i>
                                <span>Updated Now</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End of Cards-->

<!--Tables-->
<section>
    <div class="container-fluid">
        <div class="row mb-5 mt-1">
            <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
                <div class="row">
                    <div class="col-xl-6 col-12 mb-4 mb-xl-0">
                        <div class="col-xl-12 col-12 text-right">
                            <h3 class="text-muted text-center mb-3">Transactions</h3>
                            <table class="table table-dark table-hover text-center">
                                <thead>
                                    <tr class="text-muted">
                                        <th>Timestamp</th>
                                        <th>Customer</th>
                                        <th>Amount</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for transaction in transactions %}
                                    <tr>
                                        <th>{{transaction.timestamp}}</th>
                                        <td>{{transaction.customer}}</td>
                                        <td>${{transaction.amount|intcomma}}</td>
                                        {% if transaction.status == True %}
                                        <td><span class="badge badge-success py-2">Approved</span></td>
                                        {% else %}
                                        <td><span class="badge badge-warning py-2">Pending</span></td>
                                        {% endif %}
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-xl-6 col-12">
                        <h3 class="text-muted text-center mb-3">Recent Contributions</h3>
                        <table class="table table-dark table-hover text-center">
                            <thead>
                                <tr class="text-muted">
                                    <th>Year</th>
                                    <th>Month</th>
                                    <th>Amount</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for contribution in contributions%}

                                <tr>
                                    <th>{{contribution.year}}</th>
                                    <td>{{contribution.month}}</td>
                                    <td>${{contribution.amount|intcomma}}</td>
                                    {% if contribution.status == True %}
                                    <td><span class="badge badge-success py-2">Approved</span></td>
                                    {% else %}
                                    <td><span class="badge badge-warning py-2">Pending</span></td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                     <div class="col-xl-6 col-12">
                        <div class="card text-light bg-dark rounded">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <i class="fas fa-arrow-up fa-7x text-success"></i>
                                    <div class="text-right text-light">
                                        <h4 class="text-success"><b>Popular Items</b></h4>
                                        {% for hit in hits%}
                                        <h5>{{hit.name}}</h5>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer border-success text-secondary">
                                <i class="fas fa-sync mr-3"></i>
                                <span>Updated Now</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<!--End of Tables-->

{% endblock %}